.footer{
  color: white;
  margin-top: 100px;
  height: 100px;
  display: flex;
  background-color: #1F2937;
  justify-content: space-around;
  align-items: center;
}

.student-info, .lan-logo{
  display: flex;
  padding: 8px;
}
