.footer {
  display: flex;
  padding: 20px;
  margin-top: auto;
  background-color: lightgoldenrodyellow;
  justify-content: space-between;
  margin-top: 15px;
}

ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 16px
}
