
body {
  min-height: 100vh;
  margin: 0;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
}

ul{
  list-style: none;
}

.navbar-container,.first-content{
  background-color: #1F2937;
  color: white;
}


.navbar-container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 16px;

}

.nav-logo{
  display: flex;
  margin: 0px;
  padding: 0px;
  align-items: center;

}

.nav-links{
  display: flex;
  margin: 0px;
  padding: 0px;
  gap: 8px;
}

.webinfo-container{
  background-color: #1F2937;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.webinfo-container img{
  height: 250px;
}


.website-information{
  padding: 8px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  
}


.text-small{
  display: flex;
  color: white;
  font-size: 18px;
  width: 49vh;
  text-align: left;
}

.buttons button{
  color: white;
  font-weight: bold;
  background: #3882F6;
  border-radius: 5px 5px 5px 5px;
  padding: 5px;
  width: 100px;
  height: 30px;
}