body {
  margin: 0px;
  display: flex;
  flex-direction: column;

}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #1F2937;
  height: 120px;
}

.logo {
  color: whitesmoke;
  font-size: 60px;
  font-weight: bolder;
  align-self: center;
}

.header li {
  color: white;
  padding: 5px;
}

.header ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: center;
  font-size: large;
}

.header li:hover {
  color: rgb(178, 216, 255);
}

